{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    
    <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">

</head>
<body>
    {% block side %}

    {% endblock %}
    <div class="main-content" id="panel">
        {% include 'app/event/navbar_event.html' %}
        {% block content %}
            
        {% endblock %}  
    </div>
    {% include 'app/event/footer.html' %}


    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'js/argon.js' %}"></script>
    <!-- Demo JS - remove this in your project -->
    <script src="{% static 'js/demo.min.js' %}"></script>
</body>
</html>