{% extends 'app/event/main_event.html' %}
<!-- Main content -->

{% load static %}

{% block side %}
  <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light " style="background-color: #e4e9ee;" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/news/circle_3.png' %}" class="navbar-brand-img">
        </a>
        <h3 >Event Handle</h3>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="ni ni-shop text-primary"></i>
                <span class="nav-link-text ">Geral</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#">
                <i class="ni ni-single-02 text-primary"></i>
                <span class="nav-link-text">Pagantes</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#">
                <i class="ni ni-money-coins text-primary"></i>
                <span class="nav-link-text">Despesas</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/activity/{{event.id}}">
                <i class="ni ni-single-copy-04 text-primary"></i>
                <span class="nav-link-text">Atividades</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#">
                <i class="fa fa-phone text-primary"></i>
                <span class="nav-link-text">Contato</span>
              </a>
            </li>

          </ul>
          <!-- Divider -->
          <hr class="my-3">
          <!-- Navigation -->
        </div>
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}  

<div class="header pb-6" style="background-color: #483D8B;">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">{{event.organizer}}</h6>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Número de convidados</h5>
                    <span class="h2 font-weight-bold mb-0">{{event.invitations}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">DATA</h5>
                    <span class="h2 font-weight-bold mb-0">{{event.date}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">CUSTO TOTAL</h5>
                    <span class="h2 font-weight-bold mb-0">{{event.money}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">tOTAL JÁ PAGO</h5>
                    <span class="h2 font-weight-bold mb-0">{{event.parcial}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

<div class="container-fluid mt--6">
    <div class="card">
        <div class="card-body">
            <div class="row row-example">
                <div class="col" >
                    <img class="card-img-top" src="{% static 'img/theme/marry.jpg' %}" alt="">
                </div>
                <div class="col">
                    <h3 class="card-title mb-3">Descrição</h3>
                    <p class="card-text mb-4">{{event.description}}</p>
                    <a href="#" class="btn btn-primary">Editar</a>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock content %}